@import "tailwindcss";

@theme {
  --color-primary: #FFD333;
  --color-secondary: #3D464D;
  --color-dark: #3D464D;
  --color-light: #F5F5F5;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
}
